<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Example App</title>
</head>
<body>

  <h1>Login page</h1>
  <a href="/authorize-user"><img src="/images/loginButton.png"></a>

</body>
</html>


